{% extends 'base.html' %}
{% block content %}
    <article>
        <header>
                <h1>Welcome to <i>My Little Blog</i></h1>
        </header>
        <p>Hello World!</p>
        <p>
            <a href="https://github.com/binchick-in/my-little-blog">My Little Blog</a> is my personal site project!
            It is a site written in Python using the <a href="https://palletsprojects.com/p/flask/">Flask</a> framework.
            I am excited to develop this site and add features.
        </p>
        <p>
            Some basic early features I want to start on are
            pages and posts. Pages will be basic website staples like
            about, contact, etc while Posts would be your traditional blog posts. 
            I'd like to have the posts be written in mardown and
            ingested into the site for render.
        </p>
        <p>There is nothing here for now! But check back soon!</p>
    </article>
{% endblock %}
